body {
  margin: 0;
}

nav {
  
  padding: 1em;

  background-color: #A6192E;
}

.heading {
font-family: 'Ranchers',
cursive;
font-size: 3rem;
color:white;

text-align: center;
}

.opener {
  text-align: center;
  color: #A6192E;
  font-family: 'Mukta',
  sans-serif;
}

.card {
  width: 35ch;
 

  border-radius: 5%;
  
  margin: auto;

  border: 1px solid #005EB8;


}

.profpic {
  width: 100px;
  height: 100px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
 
  margin: auto;

  border: 4px solid #005EB8;

  object-fit: cover;

}

.name {
  color: white;
  background-color: #005EB8;
  border-radius: 15%;

 display: flex;
 justify-content: center;

 margin: 0;

}

.topprofile {

  font-family: 'Ranchers',
  cursive;
  background-color: #005EB8;
  height: 157px;

  background-size: 100%;
  margin: auto;

  border-top-left-radius: 5%;
  border-top-right-radius: 5%;


}

h3 {
  text-align: center;
  font-family: 'Mukta',
  sans-serif;

  color: #005EB8;
}

a {
  text-decoration: none;

  color:#005EB8;
  font-family: 'Mukta',
  sans-serif;
}

a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  margin: 0;
  justify-content: center;
}

.linking {
  text-align: center;
  margin: 5px;

  font-size: 1.3rem;
  font-family: 'Ranchers',
  cursive;
}



hr {
  color:lightsteelblue;
  
}


.talents {
  color:#005EB8;
  font-family: 'Mukta',
  sans-serif;
}

.talents {
  text-align: center;
}


img:hover {
  border: 4px solid aqua;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2ch;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 2vw;
  margin-right: 2vw;

  margin-bottom: 5vw;
}

footer {
  background-color: #632472;

  font-family: 'Mukta',
  sans-serif;

  padding: 1ch;
  margin: auto;
  text-align: center;

  color: white;
}